.navbar .nav-link,
.navbar .navbar-brand{
    color: grey !important;
    font-family: Oswald;
    font-size: 22px;
    font-weight: 900;
    
    
}
 .icon {
    width: 60px;
    height: 60px;
    margin: 0px;
    display: flex;
 }

 .hero-bg {
    background-image: url(../Assets/img/fundo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     min-height: 70vh;
     color: white;
    
 }

 .titulo {
    font-family: Oswald;
    font-size: 50px;
    color: white;
    padding-top: 50px;
    font-weight: 900;
    
 }

 .btn {
   background-color: black;
   border: solid black;
   font-family: Oswald;
   color: gray;
 }